.app.dark {
    --bg-color: #070707;
    --bg-color-inverted: #a5a5af;
    --primary-color: #0b910b;
    --secondary-color: #15c5c5;
    --primary-color-inverted: #012929;
    --secondary-color-inverted: #048f8f;
}
