.app.light {
    --bg-color: #a5a5af;
    --bg-color-inverted: #070707;
    --primary-color: #012929;
    --secondary-color: #048f8f;
    --primary-color-inverted: #0b910b;
    --secondary-color-inverted: #15c5c5;
}
